# Ignore this file, it is a temporary workflow for testing purposes.

name: Build and Validate Provider

on:
  push:
    branches:
      - "**"
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        
      - name: Check
        if: always()
        run: |
          curl -H "Authorization: bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" "$ACTIONS_ID_TOKEN_REQUEST_URL&audience=sts.accounts.stackit.cloud"
